{#######################################################}
{#                                                     #}
{#   Favicon Tag Generator - Extension for Gantry      #}
{#                                                     #}
{#   Purpose: This project improves the Favicon as     #}
{#            well as the Touch Icon Tag Generation    #}
{#            and Configuration within the Gantry      #}
{#            templating framework.                    #}
{#                                                     #}
{#   Author: Andreas Kar (thex) <andreas.kar@gmx.at>   #}
{#                                                     #}
{#######################################################}

{%- do gantry.debugger.assets() -%}
{%- do gantry.theme.loadAtoms() -%}

{% assets with { priority: 10 } %}
    {% block head_stylesheets -%}
        <link rel="stylesheet" href="gantry-assets://css/font-awesome.min.css" type="text/css"/>
        <link rel="stylesheet" href="gantry-engine://css-compiled/nucleus.css" type="text/css"/>
        {% for scss in gantry.theme.configuration.css.persistent|default(gantry.theme.configuration.css.files) %}
        <link rel="stylesheet" href="{{ scss }}.scss" type="text/css"/>
        {%- endfor %}
    {% endblock -%}

    {% block head_platform %}{% endblock %}

    {% block head_overrides -%}
        {% for scss in gantry.theme.configuration.css.overrides %}
        <link rel="stylesheet" href="{{ scss }}.scss" type="text/css"/>
        {%- endfor %}
    {% endblock -%}
{% endassets -%}

<head>
    {% block head_meta %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        {% if gantry.config.page.head.meta -%}
            {% for attributes in gantry.config.page.head.meta -%}
                {%- for key, value in attributes %}
                    {% if key starts with 'og:' %}
                    <meta property="{{ key|e }}" content="{{ value|e }}" />
                    {% else %}
                    <meta name="{{ key|e }}" content="{{ value|e }}" />
                    {% endif %}
                {% endfor -%}
            {%- endfor -%}
        {%- endif -%}

        {#% if gantry.config.page.assets.favicon %}
        {#<link rel="icon" type="image/x-icon" href="{{ url(gantry.config.page.assets.favicon) }}" />#}
        {#% endif %#}

        {#% if gantry.config.page.assets.touchicon %#}
        {#<link rel="apple-touch-icon" sizes="180x180" href="{{ url(gantry.config.page.assets.touchicon) }}">#}
        {#<link rel="icon" sizes="192x192" href="{{ url(gantry.config.page.assets.touchicon) }}">#}
        {#% endif %#}
        
        {{- _self.renderIconTags(gantry.config.page.assets) -}}
    {% endblock %}

    {%- block head_title -%}
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Title</title>
    {%- endblock %}

    {% block head_application -%}
        {{ gantry.styles('head')|join("\n")|raw }}
        {{ gantry.scripts('head')|join("\n")|raw }}
    {%- endblock %}

    {% block head_ie_stylesheets -%}
        <!--[if (gte IE 8)&(lte IE 9)]>
        <script type="text/javascript" src="{{ url('gantry-assets://js/html5shiv-printshiv.min.js') }}"></script>
        <link rel="stylesheet" href="{{ url('gantry-engine://css/nucleus-ie9.css') }}" type="text/css"/>
        <script type="text/javascript" src="{{ url('gantry-assets://js/matchmedia.polyfill.js') }}"></script>
        <![endif]-->
    {% endblock -%}

    {% block head %}{% endblock %}
    {% block head_custom %}
        {% if gantry.config.page.head.head_bottom %}
        {{ gantry.config.page.head.head_bottom|raw }}
        {% endif %}
    {% endblock %}
</head>

{%- macro renderIconTags(assets) -%}
    {%- import _self as SELF -%}
    {%- set general = assets.general -%}
    
    {%- if general.mode != 'custom' -%}
    {{ SELF.renderLinkTagMode(general, assets.icon, "", "image/x-icon", "") }}
    {{ SELF.renderLinkTagMode(general, assets.icon57, "57", "", "") }}
    {{ SELF.renderLinkTagMode(general, assets.icon60, "60", "", "") }}
    {{ SELF.renderLinkTagMode(general, assets.icon72, "72", "", "") }}
    {{ SELF.renderLinkTagMode(general, assets.icon76, "76", "", "") }}
    {{ SELF.renderLinkTagMode(general, assets.icon114, "114", "", "") }}
    {{ SELF.renderLinkTagMode(general, assets.icon120, "120", "", "") }}
    {{ SELF.renderLinkTagMode(general, assets.icon144, "144", "", "") }}
    {{ SELF.renderLinkTagMode(general, assets.icon152, "152", "", "") }}
    {{ SELF.renderLinkTagMode(general, assets.icon180, "180", "", "") }}
    {{ SELF.renderLinkTagMode(general, assets.icon16, "16", "image/png", "") }}
    {{ SELF.renderLinkTagMode(general, assets.icon32, "32", "image/png", "") }}
    {{ SELF.renderLinkTagMode(general, assets.icon36, "36", "image/png", "") }}
    {{ SELF.renderLinkTagMode(general, assets.icon48, "48", "image/png", "") }}
    {{ SELF.renderLinkTagMode(general, assets.icon96, "96", "image/png", "") }}
    {{ SELF.renderLinkTagMode(general, assets.icon128, "128", "image/png", "") }}
    {{ SELF.renderLinkTagMode(general, assets.icon192, "192", "image/png", "") }}
    {{ SELF.renderLinkTagMode(general, assets.icon196, "196", "image/png", "") }}
    {{ SELF.renderLinkTagMode(general, assets.manifest, "", "", "manifest") }}
    {{ SELF.renderMetaTagMode(general, assets.icon144tile, "144", "msapplication-TileImage", 0) }}
    {{ SELF.renderMetaTagMode(general, assets.icon70square, "70", "msapplication-square70x70logo", 0) }}
    {{ SELF.renderMetaTagMode(general, assets.icon150square, "150", "msapplication-square150x150logo", 0) }}
    {{ SELF.renderMetaTagMode(general, assets.icon310square, "310", "msapplication-square310x310logo", 0) }}
    {{ SELF.renderMetaTagMode(general, assets.tilecolor, assets.tilecolor.color, "msapplication-TileColor", 1) }}
    {{ SELF.renderMetaTagMode(general, assets.themecolor, assets.themecolor.color, "theme-color", 1) }}
    {%- endif -%}

    {%- for cTag in assets.custom.tags -%}
    {{ SELF.renderLinkTag(cTag.enabled, cTag.rel, cTag.type, cTag.sizes, cTag.image) }}
    {%- endfor -%}
{%- endmacro -%}

{%- macro renderLinkTagMode(general, icon, size, type, fileId) -%}
    {%- import _self as SELF -%}
    {%- set sizes = (size is not empty) ? size ~ 'x' ~ size : '' -%}
    {%- if icon.enabled -%}
        {%- set href = general.base_path ~ ((general.base_path ends with '/') ? '' : '/') ~ ((fileId is not empty) ? fileId : general.file_id) -%}
        {%- if fileId != 'manifest' -%}
            {%- set href = href ~ ((size is not empty) ? '-' ~ size ~ '.png' : '.ico') -%}
            {%- set hrefC = icon.image -%}
        {%- else -%}
            {%- set href = href ~ ".webmanifest" -%}
            {%- set hrefC = icon.path -%}
        {%- endif -%}
        {%- if general.mode == 'manual' or (general.mode == 'semi-auto' and hrefC is not empty) -%}
            {%- set href = hrefC -%}
        {%- endif -%}
        {%- if href is not empty -%}
            {{ SELF.renderLinkTag(icon.enabled, icon.rel, type, sizes, href, general.apple_sizes) }}
        {%- endif -%}
    {%- endif -%}
{%- endmacro -%}

{%- macro renderMetaTagMode(general, icon, content, name, flag) -%}
    {%- import _self as SELF -%}
    {%- if flag == 0 -%}
        {%- set base = general.base_path ~ ((general.base_path ends with '/') ? '' : '/') ~ general.file_id -%}
        {%- set link = base ~ '-' ~ content ~ '.png' -%}
        {%- if general.mode == 'manual' or (general.mode == 'semi-auto' and icon.image is not empty) -%}
            {%- set link = icon.image -%}
        {%- endif -%}
        {{- SELF.renderMetaTag(icon.enabled, name, link) -}}
    {%- else -%}
        {{- SELF.renderMetaTag(icon.enabled, name, content) -}}
    {%- endif -%}
{%- endmacro -%}

{%- macro renderLinkTag(enabled, rel, type, sizes, href, appleSizes) -%}
    {%- if enabled -%}
        {%- set linkTag = '<link rel="' ~ rel|e ~ '"' -%}
        {%- if type is not empty -%}
            {%- set linkTag = linkTag ~ ' type="' ~ type|e ~ '"' -%}
        {%- endif -%}
        {%- if sizes is not empty and ((rel == 'icon') or (rel starts with 'apple-touch' and appleSizes)) -%}
            {%- set linkTag = linkTag ~ ' sizes="' ~ sizes|e ~ '"' -%}
        {%- endif -%}
        {%- if href is not empty -%}
            {%- set linkTag = linkTag ~ ' href="' ~ url(href) ~ '"' -%}
        {%- endif -%}
        {%- set linkTag = linkTag ~ '>' -%}
        {{- linkTag|raw -}}
    {% endif %}
{%- endmacro -%}

{%- macro renderMetaTag(enabled, name, content) -%}
    {%- if enabled -%}
        {%- set linkTag = '<meta name="' ~ name|e ~ '"' -%}
        {%- if content is not empty -%}
            {%- set linkTag = linkTag ~ ' content="' ~ content|e ~ '"' -%}
        {%- endif -%}
        {%- set linkTag = linkTag ~ '>' -%}
        {{- linkTag|raw -}}
    {% endif %}
{%- endmacro -%}